

#business_container {
    height: auto;
    width: 250px;
    border: 1px solid red;
    background-color: aqua;
    margin:0px auto;
}

img {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 15px;
}
